/* #css{
    background-color: blueviolet;
 } */

/* inheritance  */

/* body {
     color:teal;
}


ul{
    font-size: 20px;
    font-weight: 900;
    font-family: cursive;
    font-style: italic;
}

button{
    font-size: inherit;
    font-style: inherit;
    font-weight: initial;
    font-family: inherit;
} */