main{
position: relative;
height: 300px;
width: 400px;
/* background-color: aquamarine; */
}
.box{
    background-color: rgba(153, 205, 50);
    height: 100px;
    width: 300px;
    /* opacity: 0.5; */

    /* transform: scale(5);
    transform-origin: 100% 100%; */

    /* transform: rotate(45deg); */

    /* transform: translateY(100px);
    transform: translateX(-100px); */

    /* transform: translateX(10%);
    transform: translateY(200%); /
  
    /* to make a element in centre wrt its parent */
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    /* transform: translate(-50%,-50%) rotate(45deg) scale(200%); */
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 10px red;
    
    background-image: url("https://plus.unsplash.com/premium_photo-1682124832272-9295c22fc397?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-size: cover;
    /* backgro  und-position: 10px 20px; */
    transition: transform 0.5s;
}

.box:hover{
transform: rotate(45deg) scale(2);
}

